.idea/
.keep/
.~lock.results.csv#
LIVE/
__pycache__/
configs/
logs/
out
records/
safe/
saved_versions/
ship/
sync/
env/
data/

*.ORG
*.zip
*.ods
*.csv
*.xls

config_*
state_*
_*
PROD*
backdata*
x*
P*
T*
state*

loadflag
DEADJOE
PUSH
PULL
#x
.directory
.env

v2

API-Booster/
API_Docs/
REST-API-demos/
ccxt/
env
DUMP
jmcap_DUMP.sql
pyvenv.cfg
venv/
state.json
.debris